:root {
  /* Material Pallete Colors */
  --primary-blue: #0097A7;
  --dark-primary: #007380;
  --light-primary: #B2EBF2;
  --white-main-text: #FFFFFF;
  --accent-purple: #7C4DFF;
  --primary-text: #212121;
  --secondary-text-grey: #757575;
  --divider-grey: #BDBDBD;
  --error: #FE7055;
  --warning: #F2AB18;
  --green-success: #08A65E;
  --outrageous-orange: #FE7055;
  --secondary-goldenrod: #E6AA00;
  --background-wheat: #F1DCAB;
  --maximum-bluepurple: #9BAAFA;
  --magic-mint: #9EF2C4;
  --turquose-green: #9CDAB9;
  --roman-silver: #7F8593;


  /* Font Sizes */
  --primary-font: 'Nunito', sans-serif;
  --ltitle: 3.2rem;
  --title: 2.4rem;
  --subtitle: 1.8rem;
  --lp: 1.6rem;
  --p:1.4rem;
  --small:1.3rem;
  --xs: 1.2rem;
  --size-bezel: 8px;
  --size-radius: 12px;


}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'PT Sans', sans-serif;
  /* font-family: 'Nunito', sans-serif; */
  scroll-behavior: smooth;
  color: var(--primary-text);
}
body {
  background-color: var(--background-wheat);
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 50px calc(100vh - 50px);
  grid-template-areas: 
  "header header header"
  "sidebar main calculator";
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
h3 {
  font-size: var(--subtitle);
  line-height: 1.6;
}
p {
  font-size: var(--p);
  line-height: 1.3;
  text-align: justify;
}

/* BEM */
/* one-block__one-element_modifier  */
/* optional-block__element--modifier-style */

/* Base styles (index) */
header {
  grid-area: header;
  box-shadow: 1px 1px 5px var(--dark-primary);
}
.top-navbar-container {
  width: 100%;
  height: 100%;
  background-color: var(--primary-blue);
}

.home__button a {
  font-family: var(--primary-font);
  font-size: var(--ltitle);
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
}

/* Side Bar Menu */
.side-navbar__container {
  grid-area: sidebar;
  background-color: var(--primary-blue);
  padding: var(--size-bezel);
  opacity: 95%;
}
.side-navbar__menu ul {
  list-style: none;
}
.side-menu_item {
  margin: var(--size-bezel) 0;
  font-size: var(--small);
  font-weight: 500;
  line-height: 1.3;
}
.side-menu_item a {
  text-decoration: none;
  color: var(--primary-text);
}
.side-menu_item a:active {
  color: var(--accent-purple);
}

/* Main Content Section */
.main-content__section {
  width: 100%;
  grid-area: main;
  place-content: center;
  text-align: center;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 64px 40px 1fr 1fr;
  grid-template-areas: 
  "title title title title"
  "subt subt subt subt"
  ". cirle circle ."
  "infop porciento porciento porciento";
  gap: 12px;
}
.main-content__title {
  font-size: var(--title);
  font-family: 'Nunito', sans-serif;
  align-self: center;
  grid-area: title;
}
.main__description, .main-content__description {
  grid-area: subt;
  text-align: center;
}
.graphic-result__container {
  grid-area: cirle;
}
.info-percent__container {
  grid-area: infop;
}
/* CARDS Styles */
.cards__container {
  grid-area: porciento;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(autofit, minmax(50px,1fr));
  grid-template-rows: 1fr;
  gap: 12px;
  justify-items: center;
}
.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  background-color: var(--primary-blue);
  border-radius: var(--size-radius);
}

/* Formulario */
.form__main {
  display: flex;
  flex-direction: column;
}
.form__label {
  align-self: flex-start;
  font-weight: 700;
  font-size: var(--p);
  padding: 10px 0;
  cursor: pointer;
}
.card__title {
  font-size: var(--subtitle);
}
.form__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form__group-input {
  position: relative;
}
.form__input {
  width: 100%;
  background-color: var(--secondary-text-grey);
  color: var(--white-main-text);
  padding: var(--size-bezel) calc(var(--size-bezel) * 2);
  margin-bottom: 12px;
  border: 2px solid transparent;
  border-radius: var(--size-radius);
  font-weight: 900;
  transition: 0.3 ease all;
}
.form__input:focus {
  border: 3px solid var(--primary-blue);
  outline: none;
  box-shadow: 0px 3px 1px var(--dark-primary);
}
.form__error-input--article, .form__error-input--price, .form__error-input--discount {
  font-size: var(--xs);
  margin-bottom: 0;
  display: none;
}
.form__error-input-active {
  display: block;
  color: var(--error);
}

.input-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form__validation-state {
  position: absolute;
  right: 10px;
  bottom: 24px;
  z-index: 100;
  font-size: var(--small);
  opacity: 0;
}
.form__warning-message {
  width: 100%;
  height: 45px;
  background-color: var(--error);
  padding: 12px 16px;
  border-radius: var(--size-radius);
  display: none;
}
.form__warning-message-active {
  display: block;
}
.form__warning-message p {
  font-size: var(--xs);
  line-height: 1.1;
}
.form__group-btn-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--size-bezel);
}
.form__btn {
  width: 50%;
  background-color: var(--secondary-goldenrod);
  color: var(--white-main-text);
  padding: var(--size-bezel) calc(var(--size-bezel) * 2);
  margin-bottom: 12px;
  border: none;
  border-radius: var(--size-radius);
  font-weight: 900;
  font-size: var(--lp);
}
button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.discounted-price {
  display: none;
}
.form__success-msg {
  color: var(--green-success);
  font-weight: bold;
  display: none;
}
.form__success-msg-active {
  display: block;
}

/* Validation Styles */
.form__group-success .form__validation-state {
  color: var(--green-success);
  opacity: 1;
}
.form__group-error .form__validation-state {
  color: var(--error);
}
.form__group-error .form__label {
  color: var(--error);
  opacity: 1;
}
.form__group-error .form__input, .form__group-error .form__validation-state {
  border-color: var(--error);
  opacity: 1;
}
.discounted-price-active {
  display: block;
}


/* Calculator Block */
.calculator__block {
  padding: 40px;
  max-height: 800px;
  grid-area: calculator;
  background-color: var(--warning);
  border-radius: 12px;
  padding: var(--size-bezel);
  margin: 8px;
  box-shadow: -1px 0 40px var(--light-primary);
}
.calculator__buttons-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "btn1 btn2 btn3"
  "btn4 btn5 btn6"
  "btn7 btn8 btn9"
  "btn0 btndot btnback"
  "enter enter enter";
  gap: 12px;
  height: 100%;
  --clay-background: var(--accent-purple);
  --clay-border-radius: 12px;
  --clay-font-family: var(--primary-font);
}
.calc__button, .enter__button {
  color: var(--light-primary);
  font-size: var(--title);
  font-weight: bold;
  opacity: 0.9;
}
.enter__button {
  grid-area: enter;
}
.calc__button:hover, .enter__button:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 1;
}

/* Mediaqueries */
@media only screen and (max-width: 1000px) {
  .calculator__block {
    max-height: 500px;
  }
}
@media only screen and (max-width: 800px) {
  .calculator__block {
    display: none;
  }
}