:root {
  /* Material Pallete Colors */
  --primary-blue: #0097A7;
  --dark-primary: #0097A7;
  --light-primary: #B2EBF2;
  --white-main-text: #FFFFFF;
  --accent-purple: #7C4DFF;
  --primary-text: #212121;
  --secondary-text-grey: #757575;
  --divider-grey: #BDBDBD;
  --error: #F23518;
  --warning: #F2AB18;
  --green-success: #08A65E;

  /* Font Sizes */
  --ltitle: 3.2rem;
  --title: 2.4rem;
  --subtitle: 1.8rem;
  --p:1.4rem;
  --small:1.3rem;
  --xs: 1.2rem;
  --size-bezel: 8px;
  --size-radius: 12px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
  color: var(--primary-text);
}
body {
  display: grid;
  grid-template-rows: 50px 100vh;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
h3 {
  font-size: var(--subtitle);
  line-height: 1.6;
}
p {
  font-size: var(--p);
  line-height: 1.3;
  text-align: justify;
}

/* BEM */
/* one-block__one-element_modifier  */
/* optional-block__element--modifier-style */

/* Base styles (index) */
.top-navbar-container {
  width: 100%;
  height: 100%;
  background-color: var(--dark-primary);
  grid-row: 1 / 2;
}
.math-main__container {
  height: 100vh;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  place-content: center;
}

/* Side Bar Menu */
.side-navbar__container {
  /* grid-row: 1 / 3;
  grid-column: 1 / 2; */
  background-color: var(--dark-primary);
  padding: var(--size-bezel);
}
.side-navbar__menu ul {
  list-style: none;
}
.side-menu_item {
  margin: var(--size-bezel) 0;
  font-size: var(--small);
  font-weight: 500;
  line-height: 1.3;
}
.side-menu_item a {
  text-decoration: none;
  color: var(--primary-text);
}
.side-menu_item a:active {
  color: var(--accent-purple);
}


/* Main Content Section */
.main-content__section {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  place-content: center;
  text-align: center;
  padding: 24px;
}
.main-content__section h1 {
  font-size: var(--title);
  margin: 16px auto 24px;
}


/* APP Styles */
.cards__container {
  display: grid;
  grid-template-columns: repeat(autofit, minmax(50px,1fr));
  grid-auto-flow: row;
  gap: 12px;
  justify-items: center;
}
.card {
  min-width: 200px;
  max-width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  background-color: var(--divider-grey);
  border-radius: var(--size-radius);
}

/* Formulario */
.form__main {
  display: flex;
  flex-direction: column;
}
.form__label {
  display: block;
  font-weight: 700;
  font-size: var(--small);
  padding: 10px;
  cursor: pointer;
}
.form__group-input {
  position: relative;
}
.form__input {
  width: 100%;
  background-color: var(--secondary-text-grey);
  color: var(--white-main-text);
  padding: var(--size-bezel) calc(var(--size-bezel) * 2);
  margin-bottom: 12px;
  border: 2px solid transparent;
  border-radius: var(--size-radius);
  font-weight: 900;
  transition: 0.3 ease all;
}
.form__input:focus {
  border: 3px solid var(--primary-blue);
  outline: none;
  box-shadow: 0px 3px 1px var(--dark-primary);
}
.form__error-input--article, .form__error-input--price, .form__error-input--discount {
  font-size: var(--xs);
  margin-bottom: 0;
  display: none;
}
.form__error-input-active {
  display: block;
  color: var(--error);
}

.input-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form__validation-state {
  position: absolute;
  right: 10px;
  bottom: 24px;
  z-index: 100;
  font-size: var(--small);
  opacity: 0;
}
.form__warning-message {
  width: 100%;
  height: 45px;
  background-color: var(--error);
  padding: 12px 16px;
  border-radius: var(--size-radius);
  display: none;
}
.form__warning-message-active {
  display: block;
}
.form__warning-message p {
  font-size: var(--xs);
  line-height: 1.1;
}
.form__group-btn-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--size-bezel);
}
.form__btn {
  width: 50%;
  background-color: var(--accent-purple);
  color: var(--white-main-text);
  padding: var(--size-bezel) calc(var(--size-bezel) * 2);
  margin-bottom: 12px;
  border: none;
  border-radius: var(--size-radius);
  font-weight: 900;
}
button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.discounted-price {
  display: none;
}
.form__success-msg {
  color: var(--green-success);
  font-weight: bold;
  display: none;
}
.form__success-msg-active {
  display: block;
}

/* Validation Styles */
.form__group-success .form__validation-state {
  color: var(--green-success);
  opacity: 1;
}
.form__group-error .form__validation-state {
  color: var(--error);
}
.form__group-error .form__label {
  color: var(--error);
  opacity: 1;
}
.form__group-error .form__input, .form__group-error .form__validation-state {
  border-color: var(--error);
  opacity: 1;
}
.discounted-price-active {
  display: block;
}

/* Mediaqueries */
@media screen and (max-width: 700px) {
  
}